Repository tiki-deprecated/publish-sdk-channel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tiki/mobile-development, @tiki/content, @tiki/core-development, @tiki/governance, @tiki/backend-development, @tiki/infrastructure

.github/CODEOWNERS:

# -------------------------------------------------------------------------------------
# Mobile development owns this repo as a whole.
# -------------------------------------------------------------------------------------
*                    @tiki/mobile-development


# -------------------------------------------------------------------------------------
# Content should have eyes on any Markdown changes.
# -------------------------------------------------------------------------------------
*.md                 @tiki/content @tiki/mobile-development


# -------------------------------------------------------------------------------------
# Core development should all have eyes on any changes under .github/
# -------------------------------------------------------------------------------------
/.github/            @tiki/core-development @tiki/mobile-development


# -------------------------------------------------------------------------------------
# Governance needs to have eyes on any licensing or risk-related changes
# -------------------------------------------------------------------------------------
LICENSE              @tiki/governance @tiki/mobile-development
/.github/CODEOWNERS  @tiki/governance @tiki/core-development @tiki/mobile-development


# -------------------------------------------------------------------------------------
# Backend development and infrastructure care about Docker, databases, and Terraform
# -------------------------------------------------------------------------------------

*.dockerfile         @tiki/backend-development @tiki/infrastructure
docker-compose.yaml  @tiki/backend-development @tiki/infrastructure
/database/           @tiki/backend-development @tiki/infrastructure
/infra/              @tiki/backend-development @tiki/infrastructure

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: update maven url
  publish.gradle
Owners: @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: deployment package names
  pubspec.yaml
Owners: @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: set android versions
  .github/workflows/release.yaml
  publish.gradle
Owners: @tiki/core-development, @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: set versions after first build
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: req mapping and error serialization
  lib/src/channel.dart
  lib/src/idp/idp_handler.dart
  lib/src/idp/req/req_export.dart
  lib/src/idp/req/req_import.dart
  lib/src/idp/req/req_key.dart
  lib/src/idp/req/req_sign.dart
  lib/src/idp/req/req_verify.dart
  lib/src/req_default.dart
  lib/src/req_initialize.dart
  lib/src/rsp_error.dart
  lib/src/trail/req/req_guard.dart
  lib/src/trail/req/req_license.dart
  lib/src/trail/req/req_license_all.dart
  lib/src/trail/req/req_license_get.dart
  lib/src/trail/req/req_license_latest.dart
  lib/src/trail/req/req_payable.dart
  lib/src/trail/req/req_payable_all.dart
  lib/src/trail/req/req_payable_get.dart
  lib/src/trail/req/req_receipt.dart
  lib/src/trail/req/req_receipt_all.dart
  lib/src/trail/req/req_receipt_get.dart
  lib/src/trail/req/req_title.dart
  lib/src/trail/req/req_title_get.dart
  lib/src/trail/req/req_title_id.dart
  lib/src/trail/trail_handler.dart
Owners: @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: remove duplicative channel naming
  lib/src/channel.dart
  lib/src/idp/idp_handler.dart
  lib/src/idp/idp_wrapper.dart
  lib/src/req_initialize.dart
  lib/src/trail/trail_handler.dart
  lib/src/trail/trail_wrapper.dart
Owners: @tiki/mobile-development

fix: tests (changed naming)
  lib/src/trail/trail_wrapper.dart
  test/channel_test.dart
  test/idp_test.dart
  test/trail_test.dart
Owners: @tiki/mobile-development

feat: include timestamps in Rsps
  lib/src/trail/rsp/rsp_license.dart
  lib/src/trail/rsp/rsp_license_use.dart
  lib/src/trail/rsp/rsp_payable.dart
  lib/src/trail/rsp/rsp_receipt.dart
  lib/src/trail/rsp/rsp_title.dart
  pubspec.lock
  pubspec.yaml
Owners: @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

add changelog
  CHANGELOG.md
Owners: @tiki/content, @tiki/mobile-development

Create project.yml
  .github/workflows/project.yml
Owners: @tiki/core-development, @tiki/mobile-development

fix: settings.yml inheritance
  .github/settings.yml
Owners: @tiki/core-development, @tiki/mobile-development

fix: pr project automation
  .github/workflows/project.yml
Owners: @tiki/core-development, @tiki/mobile-development

fix: sync issues
  .github/settings.yml
  .github/workflows/project.yml
Owners: @tiki/core-development, @tiki/mobile-development
