Repository tiki-deprecated/publish-sdk-channel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tiki/mobile-development, @tiki/content, @tiki/core-development, @tiki/governance, @tiki/backend-development, @tiki/infrastructure

.github/CODEOWNERS:

# -------------------------------------------------------------------------------------
# Mobile development owns this repo as a whole.
# -------------------------------------------------------------------------------------
*                    @tiki/mobile-development


# -------------------------------------------------------------------------------------
# Content should have eyes on any Markdown changes.
# -------------------------------------------------------------------------------------
*.md                 @tiki/content @tiki/mobile-development


# -------------------------------------------------------------------------------------
# Core development should all have eyes on any changes under .github/
# -------------------------------------------------------------------------------------
/.github/            @tiki/core-development @tiki/mobile-development


# -------------------------------------------------------------------------------------
# Governance needs to have eyes on any licensing or risk-related changes
# -------------------------------------------------------------------------------------
LICENSE              @tiki/governance @tiki/mobile-development
/.github/CODEOWNERS  @tiki/governance @tiki/core-development @tiki/mobile-development


# -------------------------------------------------------------------------------------
# Backend development and infrastructure care about Docker, databases, and Terraform
# -------------------------------------------------------------------------------------

*.dockerfile         @tiki/backend-development @tiki/infrastructure
docker-compose.yaml  @tiki/backend-development @tiki/infrastructure
/database/           @tiki/backend-development @tiki/infrastructure
/infra/              @tiki/backend-development @tiki/infrastructure

fix: update release action
  .github/workflows/release.yaml
  .github/workflows/release_aar.yaml
  .github/workflows/release_flutter.yaml
  publish.gradle
Owners: @tiki/core-development, @tiki/mobile-development

fix: update publish repository
  publish.gradle
Owners: @tiki/mobile-development

fix: bump version
  CHANGELOG.md
  pubspec.yaml
Owners: @tiki/content, @tiki/mobile-development

fix: trigger release 1.0.3
  README.md
Owners: @tiki/content, @tiki/mobile-development

fix: remove integration_tests
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

fix: remove path_provider from exported libs
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: regex for path provider removal
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: remove path provider from android
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: remove sqlite3 from ios framework
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: remove sqlite3 from zip file
  .github/workflows/release.yaml
  pubspec.yaml
Owners: @tiki/core-development, @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: remove pending sqlite references
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

add settings.yml
  .github/settings.yml
Owners: @tiki/core-development, @tiki/mobile-development

for resync. labels failed to create
  .github/settings.yml
Owners: @tiki/core-development, @tiki/mobile-development

pubspec.lock fix
  pubspec.lock
Owners: @tiki/mobile-development

placeholder readme
  README.md
Owners: @tiki/content, @tiki/mobile-development

intellij stuff snuck thru the gitignore
  .gitignore
  tiki_sdk_platform_channel.iml
  tiki_sdk_platform_channel_android.iml
Owners: @tiki/mobile-development

remove leftover wrong docs.
  lib/main.dart
  lib/src/channel.dart
  lib/src/idp/key_flutter.dart
  lib/src/req_init.dart
  lib/src/rsp.dart
  lib/src/rsp_error.dart
  lib/src/trail/rsp/rsp_initialized.dart
Owners: @tiki/mobile-development

add unit tests for idp
  .github/workflows/tests.yaml
  .github/workflows/version.yaml
  integration_test/tiki_sdk_flutter_platform_test.dart
  lib/src/channel.dart
  lib/src/idp/idp_handler.dart
  lib/src/idp/idp_wrapper.dart
  lib/src/idp/req/req_export.dart
  lib/src/idp/req/req_import.dart
  lib/src/idp/req/req_key.dart
  lib/src/idp/req/req_sign.dart
  lib/src/idp/req/req_verify.dart
  lib/src/req.dart
  lib/src/req_default.dart
  lib/src/rsp.dart
  lib/src/rsp_default.dart
  lib/src/rsp_error.dart
  lib/src/rsp_handler.dart
  lib/src/rsp_ok.dart
  lib/src/trail/license_wrapper.dart
  lib/src/trail/trail_wrapper.dart
  pubspec.lock
  pubspec.yaml
  test/fixtures/mc_fixture.dart
  test/idp_test.dart
  test/mocks/shared_mocks.dart
  test/mocks/shared_mocks.mocks.dart
Owners: @tiki/core-development, @tiki/mobile-development

ref main?
  .github/workflows/tests.yaml
Owners: @tiki/core-development, @tiki/mobile-development

fix dart pub test
  lib/src/channel.dart
  lib/src/idp/key_flutter.dart
  pubspec.yaml
Owners: @tiki/mobile-development

working to get dry run publish to work
  CHANGELOG.md
  lib/src/trail/req/req_receipt.dart
  pubspec.yaml
Owners: @tiki/content, @tiki/mobile-development

publish fixes
  test/fixtures/mc_fixture.dart
  test/idp_test.dart
Owners: @tiki/mobile-development

we need main.dart and publish hates it.
  .github/workflows/tests.yaml
Owners: @tiki/core-development, @tiki/mobile-development

tests for all all trail handlers
  lib/src/channel.dart
  lib/src/req_init.dart
  lib/src/req_initialize.dart
  lib/src/trail/req/req_license.dart
  test/mocks/mock_tiki_trail.dart
  test/mocks/mock_tiki_trail_license.dart
  test/mocks/mock_tiki_trail_payable.dart
  test/mocks/mock_tiki_trail_receipt.dart
  test/mocks/mock_tiki_trail_title.dart
  test/trail_test.dart
Owners: @tiki/mobile-development

add channel tests
  lib/src/channel.dart
  lib/src/trail/rsp/rsp_initialized.dart
  lib/src/trail/trail_wrapper.dart
  test/channel_test.dart
  test/mocks/mock_gen.dart
  test/mocks/mock_gen.mocks.dart
  test/trail_test.dart
Owners: @tiki/mobile-development

BREAKING: updated API to trail v3 & idp
  CHANGELOG.md
Owners: @tiki/content, @tiki/mobile-development

update versions in release action
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

version action did not run.
  .github/workflows/version.yaml
Owners: @tiki/core-development, @tiki/mobile-development

wrong if statement on version action
  .github/workflows/version.yaml
Owners: @tiki/core-development, @tiki/mobile-development

BREAKING CHANGE: semver typo
  pubspec.yaml
Owners: @tiki/mobile-development

must be in footer?
  .github/workflows/release.yaml
Owners: @tiki/core-development, @tiki/mobile-development

feat!: v3 trail api
  pubspec.yaml
Owners: @tiki/mobile-development

version bump
  pubspec.yaml
Owners: @tiki/mobile-development

fix: update deployment
  .github/workflows/release.yaml
  lib/src/channel.dart
  lib/src/req_initialize.dart
  lib/src/trail/trail_wrapper.dart
  pubspec.lock
  pubspec.yaml
  test/channel_test.dart
  test/mocks/mock_gen.mocks.dart
Owners: @tiki/core-development, @tiki/mobile-development
